@charset "utf-8";

* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: $font_family;
}

// link
a {
  text-decoration: none;
  outline: none;
  color: currentColor;
}


img{
  max-width: 100%;
  height: auto;
}